In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("covid_merged_data_clean.csv")
data = data.rename(columns={"Country": "country", })

In [3]:
data

,country,date,total_cases,new_cases,total_deaths,new_deaths,population,population_density,median_age,gdp_per_capita,cvd_death_rate,Overall Life Expectancy,Female Life Expectancy,Male Life Expectancy,Number of doctors per 1000 people
0,Austria,2019-12-31,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
1,Austria,2020-01-01,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
2,Austria,2020-01-02,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
3,Austria,2020-01-03,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
4,Austria,2020-01-04,0.0,0.0,0.0,0.0,9006400.0,106.749,44.4,45436.686,145.183,81.4,83.8,79.0,5.00515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,United Kingdom,2020-06-09,287399.0,1205.0,40597.0,55.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5027,United Kingdom,2020-06-10,289140.0,1741.0,40883.0,286.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5028,United Kingdom,2020-06-11,290143.0,1003.0,41128.0,245.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5029,United Kingdom,2020-06-12,291409.0,1266.0,41279.0,151.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490
5030,United Kingdom,2020-06-13,292950.0,1541.0,41481.0,202.0,67886004.0,272.898,40.8,39753.244,122.137,81.2,83.0,79.5,2.71490